__pycache__/

# Virtual Environments
# ===========================
venv/
.venv/
env/
.env
ENV/

# Self-contained dependencies
# ===========================
python/
ollama/
models/

# Node
# ===========================
node_modules/

# Build
# ===========================
*.egg-info/
dist/
build/
